:root {
  --hue: 195;
  --input-color-base: hsla(var(--hue), 0%, 100%, 0.2);
  --blue-color-base100: hsl(var(--hue), 91%, 25%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  border: none;
}

body {
  font-family: "Mulish", sans-serif;

  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  display: flex;

  width: 90%;
  margin: 0 auto;
}

main, aside {
  margin-bottom: 2rem;
}

/* HEADER */
header {
  background-color: var(--blue-color-base100);
  padding: 0.75rem 0;
}

header .container {
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.input-wrapper {
  position: relative;

  display: flex;
  flex-grow: 1;
}

label {
  position: absolute;
  z-index: -1;
}

input {
  background-color: var(--input-color-base);

  color: #fff;
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  font-weight: 600;

  padding: 0.75rem 1rem;
  flex-grow: 1;

  border-radius: 0.25rem;
}

input::placeholder {
  color: #fff;
}

.perfil-wrapper {
  max-width: 48px;
  height: 48px;
  border-radius: 50%;
}

/* tem outra forma de fazer isso? */
.perfil-wrapper img {
  border-radius: 50%;
}

/* MAIN */
main .container {
  flex-direction: column;
  gap: 2rem;
}

main > img {
  border-radius: 5px;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn-wrapper {
  display: flex;
  gap: 0.75rem;
}

h1, h2, h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 160%;
  color: #202024;
}

p {
  font-size: 1rem;
  line-height: 160%;
  color: #121214;
}

/* ASIDE */
aside .container {
  flex-direction: column;
  gap: 2rem;
}

.card {
  display: grid;
  grid-template-areas: 
  'img h3'
  'img p';
  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; */
  gap: 0.5rem 1rem;
  align-items: stretch; 
  justify-content: start; 
}

.card h3 {
  font-size: 1.125rem;
  line-height: 100%;
  grid-area: h3;
}

.card img {
  grid-area: img;
}

.card p {
  font-size: 0.875rem;
  grid-area: p;
}

/* FOOTER */
footer {
  display: grid;
  place-content: center;
  padding: 1.5rem 1rem;
  background-color: var(--blue-color-base100);
  color: #fff;
}

